body{
    text-align: center;
    background-color: black;
    font-style: oblique;
   font-family: Arial, Helvetica, sans-serif;
}
#get-verse{
    padding: 5px 20px ;
    border-bottom: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 10px;
    border-color: black; 
}
#comment{
    text-align: center;
    width: 20%;
    margin: auto;
    padding: 5px;
    border-radius: 10px;;
    border-color: black;
    height: 20px;
}
.likes-section{
    padding: 10px;
   
}
#main-content{
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 5px;
    border-style: solid;
    border-radius: 20px;
    height: 600px;
    background-color: mediumspringgreen;
}